<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/user-dashboard">
                <i class="ti-shield menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/student_portal">
                <i class="ti-layout-list-post menu-icon"></i>
                <span class="menu-title">Add Feedback</span>
            </a>
        </li>
    </ul>
</nav>