<!DOCTYPE html>
<html lang="en">

<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-147142692-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-147142692-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add Feedback</title>
    <link rel="stylesheet" href="/static/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/static/vendors/base/vendor.bundle.base.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/validate.css">
    <link rel="shortcut icon" href="/static/images/favicon.png">
</head>


<body class="sidebar-icon-only">

    {% include "navigation/user-nav.html" %}

    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->

            {% include "navigation/side-nav.html" %}

            <!-- partial -->
            <div class="main-panel">
                <font size="5" color="black" style="text-align:center;"><b>{{message}}</b></font>

                <form class="forms-sample" method="POST" enctype="multipart/form-data">

                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-md-6 grid-margin stretch-card" id="dropdown-container">
                                <font size="3" color="red" style="text-align:center;"><b>{{error}}</b></font>
                                <div class="card" id="review-card">
                                        <div class="card-body" id="dropdown-title">
                                            <button id="dropdown">
                                                        <h4 class="card-title" id="card-title">Insurance Information</h4>
                                                        <span>
                                                            <img class="dropdown-button"
                                                                src="/static/images/dropdown.svg"></img>
                                                        </span>
                                                    </button>
                                            <div id="dropdown-content">
                                                <div class="form-group row">
                                                    <label for="insurance_number" class="col-sm-3 col-form-label">Feedback</label>
                                                    <div class="col-sm-9">
                                                        <input type="text" name="insurance_number" class="form-control" id="insurance_number" value="" required>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="col-md-6 grid-margin stretch-card" id="dropdown-container">

                                <!-- dropdown with content shown on default-->
                                <div class="card" id="review-card">
                                    <div class="card-body" id="dropdown-title">
                                        <button id="dropdown">
                                                        <h4 class="card-title" id="card-title">Student Information</h4>
                                                        <span>
                                                            <img class="dropdown-button"
                                                                src="/static/images/dropdown.svg"></img>
                                                        </span>
                                                    </button>
                                        <div id="dropdown-content">
                                            <div class="form-group row">
                                                <label for="patient_id" class="col-sm-3 col-form-label">Student ID Number</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="patient_id" class="form-control" id="patient_id" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="first_name" class="col-sm-3 col-form-label">First Name *</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="first_name" class="form-control" id="first_name" required> 
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="last_name" class="col-sm-3 col-form-label">Last Name *</label>
                                                <div class="col-sm-9">
                                                    {% if 'last_name' in payload %}
                                                    <input type="text" name="last_name" class="form-control" id="last_name" value="{{payload['last_name']}}" required readonly> {% else %}
                                                    <input type="text" name="last_name" class="form-control" id="last_name" required> {% endif %}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="phone_number" class="col-sm-3 col-form-label">Phone Number *</label>
                                                <div class="col-sm-9">
                                                    <input type="text" name="phone_number" class="form-control" id="phone_number" value="{{payload['phone_number']}}" required>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="email" class="col-sm-3 col-form-label">Email ID</label>
                                                <div class="col-sm-9">
                                                    <input type="email" name="email" class="form-control" id="email" value="{{payload['email']}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="gender" class="col-sm-3 col-form-label">Gender *</label>
                                                <div class="col-sm-9">
                                                    <select name="gender" class="form-control" id="gender" required>
                                                            <option hidden selected value="{{payload['gender']}}">{{payload['gender']}}</option>
                                                            <option value="Male">Male</option>
                                                            <option value="Male">Female</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="date_of_birth" class="col-sm-3 col-form-label">Date of Birth *</label>
                                                <div class="col-sm-9">
                                                    {% if 'date_of_birth' in payload %}
                                                    <input type="date" name="date_of_birth" class="form-control" id="date_of_birth" value="{{payload['date_of_birth']}}" readonly> {% else %}
                                                    <input type="date" name="date_of_birth" class="form-control" id="date_of_birth"> {% endif %}
                                                </div>
                                            </div>
                                            
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </form>

                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © 2019 <a
                    href="https://www.cloudXdigital.com/" target="_blank">cloudXdigital</a>. All rights reserved.</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Hand-crafted &amp; made with <i
                    class="ti-heart text-danger ml-1"></i></span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
        <div id="myModal" class="modal-validate">
            <span>
            <img class="rotate" src="/static/images/rotate.svg"></img>
        </span>
            <span>
            <img class="zoom-in" src="/static/images/zoom-in.svg"></img>
        </span>
            <span>
            <img class="zoom-out" src="/static/images/zoom-out.svg"></img>
        </span>
            <span class="close">&times;</span>
            <img class="modal-validate-content" id="image">
        </div>
    </div>
    <!-- container-scroller -->
    <!-- The Modal -->

    <script src="/static/vendors/base/vendor.bundle.base.js"></script>
    <script src="/static/vendors/chart.js/Chart.min.js"></script>
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/hoverable-collapse.js"></script>
    <script src="/static/js/template.js"></script>
    <script src="/static/js/todolist.js"></script>
    <script src="/static/js/dashboard.js"></script>
    <script src="/static/js/expand-image.js"></script>
    <script src="/static/js/dropdown.js"></script>
</body>

</html>